@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定義進度條的動畫 */
@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

/* 使用動畫模擬進度條的效果 */
.animate-progress {
  animation: progressAnimation 1.5s infinite;
}
